<!DOCTYPE html>
<html>
    <head>
        <title>Recipe App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'recipes/images/home-icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
        <style type="text/css">
            body {
                background: url("{% static 'recipes/images/food_background.jpg' %}") no-repeat fixed;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30vh;
            }
            .form_data {
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                padding: 20px;
            }

        </style>
    </head>
    <h1 style="font-size: 45px;">Search for recipes in our database: </h1>
    <hr>
    <form action="" method="POST" class="form_data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Search</button>
    </form>
    <br>
    {% if recipe_df %}
    {{recipe_df|safe}}
    <br>
    <img alt="chart" src="data:image/png;base64, {{chart|safe}}">
    {% else %}
    <h3>No data</h3>
    {% endif %}
</html>